<div class="jumbotron" id="fortop" align="center">
  <h1 style="color:white;">Candidate</h1>
</div>
<nav class="navbar navbar-inverse navbar-static-top" role ="navigation">
<div class="container-fluid">
      <ul class="nav nav-justified">
      <li ><a href="/candidates/home/<%=candidates.id %> ">Home</a></li>
    <li ><a href="/candidates/party">Party</a></li>
    <li ><a href="/candidates/elections">Elections</a></li>
    <li ><a href="/candidates/request/<%=candidates.id %>">Request</a></li>
    <li><a href="/candidates/show/<%=candidates.id %>"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
    <li><a href="/candidates"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
    </ul>
</div>
</nav>
