<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="jumbotron" id="fortop" align="center">
      <h1 style="color:white;">Election Manager</h1>
    </div>
<h2 align="middle" style="color:#ff0000"> Presidential </h2>
<div class="container">
  <div class="well">Click on Eid for more details</div>
</div>

<div class="row">
  <div class="col-sm-2"> </div>
  <div class="col-sm-8">


<table class="table table-hover">
  <thead>
    <tr>
      <th>Eid</th>
      <th>Type</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>

      <tr >
        <% for(var i=0; i<elections.length; i++) {%>
            <td><a href="/em/elections/presidential/ushow/<%= elections[i]._id%>"><%= elections[i].eid %></a></td>
            <td><%= elections[i].type %></td>
            <td><%= elections[i].status %></td>
          </tr>
          <% } %>

  </tbody>
</table>
</div>
<div class="col-sm-2">

</div>

</div>

<div class="container">
  <div class="well"><a href="/em/home/5a10e055f8e87a2a28fb91e2">Click Me</a> For Admin Home</div>
</div>



  </body>
</html>
