<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <meta charset="utf-8">
    <title>Peek</title>
  </head>
  <body>
    <div class="jumbotron" id="fortop" align="center">
      <h2 style="color:white;"> Elections</h2>
    </div>
  <br/>
    <div class="jumbotron">
    <h2 align="center">Operations</h2>
    </div>
    <div class="container-fluid">
        <div class="row">
        <div class="col-sm-4 ">
          <div class="well well-lg well-centered clearfix">
            <h3>Ongoing <a href = "/voters/elections/presidential/ongoing" > <button type="button" class="btn btn-primary btn-lg !important" style="float: right;" >View</button></a></h3>
          </div>
         </div>
      </div>
      <div class="row">
      <div class="col-sm-4 ">
        <div class="well well-lg well-centered clearfix">
          <h3>Upcoming <a href = "/voters/elections/presidential/upcoming" ><button type="button" class="btn btn-primary btn-lg" style="float: right;"  >View </button> </a></h3>
        </div>
       </div>
    </div>
    <div class="row">
    <div class="col-sm-4 ">
      <div class="well well-lg well-centered clearfix">
        <h3>Completed<a href = "/voters/elections/presidential/completed" ><button type="button" class="btn btn-primary btn-lg" style="float: right;"  >View </button> </a></h3>
      </div>
     </div>
  </div>
    </div>




  </body>
</html>
