
	<div class="container">
		<div class="row">

			<div class="col-md-6 widget">
				<div class="widget-body">
				</div>
			</div>

			<div class="col-md-6 widget">
				<div class="widget-body">
					<p class="text-right">
						Copyright &copy; 2017 Memorial University of Newfoundland.<br>
					<a href="http://www.mun.ca/computerscience/" rel="designer">Newfoundland and Labrador, Canada.</a> </p>
				</div>
			</div>

		</div>
	</div>
