
	<div class="container">
		<div class="row">
			<div class="col-md-3 widget">
				<h3 class="widget-title">Contact</h3>
				<div class="widget-body">

						<a href="mailto:#">Group 2</a><br>
						<br>
						Software Engineering Course, Department of Computer Science
					</p>
				</div>
			</div>


			<div class="col-md-6 widget">
				<h3 class="widget-title">Department </h3>
				<div class="widget-body">
                                <p><a href="http://www.mun.ca/computerscience/">Department of Computer Science</a><br>

				</div>
			</div>

		</div>
	</div>
