<!DOCTYPE html>
<html lang="en">
<%include ./partials/head %>

<head>
  <title>OVS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="jumbotron" id="fortop" align="center">
    <h2 style="color:white;">Welcome</h2>
  </div>
<br/>
<div class="container-fluid">

  <div class="row">
    <div class="col-sm-4" ><div class="jumbotron" id="fortop" align="center">
      <h2 style="color:white;"> Online Voting System </h2>
    </div></div>

    <div class="col-sm-4" ><div class="jumbotron" id="fortop" align="center">
      <h2 style="color:white;"> Created By </h2>
      <h2 style="color:white;"> Group 2 </h2>

    </div></div>

    <div class="col-sm-4">

      <form >
        <div class="jumbotron" >
          <div align="center">
          <h3> Select appropriate choice </h3>
        </div>

      <a href="/voters"><button type="button" class="btn btn-primary">Voter </button></a> <label >:Voter Operations</label>  <br/> <br/>
        <a href="/em"><button type="button" class="btn btn-primary" >EM</button> </a><label >:Election Manager</label> <br/> <br/>
          <a href="/candidates"><button type="button" class="btn btn-primary" >Candidate</button> </a><label >:Candidate Operations</label> <br/> <br/>
            <a href="/party"><button type="button" class="btn btn-primary" >Party</button> </a><label >:Party Operations</label> <br/> <br/>

    </div>
    </div>
    </form>
  </div>
  </div>
</div>



</body>
</html>
