<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <button type="button" name="district"> District</button>
    <a href = "/elections/presidential"><button type="button" name="presidential"> Presidential </button>

  </body>
</html>
