<!DOCTYPE html>
<html lang="en">
<%include ../partials/head %>

<head>
  <title>Voters</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<%include ../partials/ivnav%>

<div class="jumbotron">
<p>Welcome <%= voter.username %> , Please select the activity that you would like to do</p>

</div>


</body>
</html>
