<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/elections/presidential/ongoing"><button type="button" name="Ongoing"> Ongoing</button></a>
    <a href="/elections/presidential/completed" ><button type="button" name="Completed">Completed</button></a>
    <button type="button" name="Upcoming">Upcoming</button>

  </body>
</html>
